.dart_tool/
.flutter-plugins-dependencies
.packages
build/
.tools/
__pycache__/
coverage/
android/local.properties
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
**/ephemeral/
*.iml
.idea/
flutter-releases.json
